# Dependencies
node_modules/
.pnpm-store/
.pnp
.pnp.js

# Build
dist/
.next/
out/
build/
coverage/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.swp
*.swo
*.code-workspace

# Naming
?*.gitignore
?*.gitignore/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/
.nyc_output/

# Prisma
prisma/*.db
prisma/*.db-journal

# Uploads
uploads/
temp/

# Turbo
.turbo/